
<suite name="Loan Department">
	<test thread-count="5" name="Personal Loan">
		<classes>
			<class name="test.day1">
				<methods>
					<include name="FirstTest()" /> <!-- Only this method run in this class -->
				</methods>
			</class>

			<class name="test.day2" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Car Loan">
		<classes>
			<class name="test.day3">
				<methods>
					<exclude name="Mobile.*" /><!-- Except this method,rest all are run in this class -->
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Home Loan">
		<classes>
			<class name="test.day4" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
